<br><hr>
<footer class="text-center text-lg-start bg-light text-muted">     
    <br>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Regresion Logistica
            </h6>
            <p>
              En estadística, la regresión logística es un tipo de análisis de regresión utilizado para predecir el resultado de una variable categórica en función de las variables independientes o predictoras. Es útil para modelar la probabilidad de un evento ocurriendo en función de otros factores.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a>Predicciones.</a>
            </p>
            <p>
              <a>Entrenamiento de modelo.</a>
            </p>
            <p>
              <a>Score.</a>
            </p>
            <p>
              <a>Matriz de confusiom</a>
            </p>
          </div>
    
  
    
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        
            <h6 class="text-uppercase fw-bold mb-4">
              Consulta sobre...
            </h6>
            <p>
              <a href="https://aprendeia.com/algoritmo-regresion-logistica-machine-learning-teoria/" target="_blank" class="text-reset">Teoria de regresion logistica.</a>
            </p>
            <p>
              <a href="https://www.aprendemachinelearning.com/regresion-logistica-con-python-paso-a-paso/" target="_blank" class="text-reset">Ejemplo y predicciones de regresion logistica.</a>
            </p>
            <p>
              <a href="https://empresas.blogthinkbig.com/como-interpretar-la-matriz-de-confusion-ejemplo-practico/" target="_blank" class="text-reset">Matriz de confusion.</a>
            </p>
          </div>
    
  
    
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
            <p><i class="fas fa-home me-3"></i> Bogota, CO</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              algoritmoRL@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +57 3013357664</p>
            <p><i class="fas fa-print me-3"></i> +57 3005248564</p>
          </div>
    
        </div>

      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold text-decoration-none">Todos los derechos reservados</a>
    </div>
  </footer>
