<app-menu></app-menu>
<div class="move1">
    <nav>
        <ul>
          <li><a href="admin">Inicio</a></li>
          <li><a href="notificacion">Notificacion</a></li>
          <li><a href="prediccion">Prediccion</a></li>
          <li><a href="reporte">Reporte</a></li>
          <li><a href="redneuronal">Red neuronal</a></li>
        </ul>
      </nav>
    </div>
    <main>
        <div class="move">
		<section>
			<h2>
                Auto MPG</h2>
			<p>Este conjunto de datos es una versión ligeramente modificada del conjunto de datos proporcionado en la biblioteca StatLib. De acuerdo con el uso de Ross Quinlan (1993) en la predicción del atributo "mpg", se eliminaron 8 de las instancias originales porque tenían valores desconocidos para el atributo "mpg". El conjunto de datos original está disponible en el archivo "auto-mpg.data-original".
</p>
		</section>
  </div>
  <div class="divider"></div>

	
	</main>
      <div class="button-container">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="https://xtqgyvvkfgankcmhvfxm.supabase.co/storage/v1/object/public/reporte/Reporte.docx" role="button" aria-expanded="false">
       Descargar reporte
        </a>
      
  
    
       
      </div>
    </div>
    <div class="miElemento">
      <app-pie></app-pie>
      </div>