<app-menu></app-menu>
<div class="move">
    <nav>
        <ul>
          <li><a href="admin">Inicio</a></li>
          <li><a href="notificacion">Notificacion</a></li>
          <li><a href="prediccion">Prediccion</a></li>
          <li><a href="reporte">Reporte</a></li>
          <li><a href="redneuronal">Red neuronal</a></li>
        </ul>
      </nav>
    </div>
    <div class="move1">
        <div class="container">
          <h1>Entrenamiento y predicción</h1>
          
            <div class="form-group">
              <label for="csv-file">Seleccionar archivo CSV o Excel:</label>
              <input type="file" id="csv-file"  (change)="onFileSelected($event)" accept=".csv, application/vnd.ms-excel" required>
              <input type="text" [(ngModel)]="text1"  class="form-control" placeholder="Digite el nombre de la columna csv " aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="form-group">
              <button (click)="uploadFile()">Subir archivo</button>
            </div>
          
          <div id="prediction-results"></div>
        </div>
        <div class="miElemento">
          <app-pie></app-pie>
          </div>